<div class="col-md-4" *ngIf="members">

    <form (ngSubmit)="onSubmit()" #addTeamForm="ngForm"
          id="AddTeam">
        <div class="form-group">
            <label for="i_teamname">Add Team</label>
            <input type="text" class="form-control" id="i_teamname" placeholder="Team"
                   required
                   [(ngModel)]="model.Name" name="i_teamname" />
            <select [(ngModel)]="model.MemberId" name="i_select_member"
                    class="form-control" id="i_select_member">
                <option *ngFor="let member of members"
                        required
                        [value]="member.memberId">
                    {{member.name}}
                </option>
            </select>
        </div>
        <button (click)="addTeam()"
                type="submit" class="btn btn-primary"
                [disabled]="!addTeamForm.form.valid || submitted">
            Submit
        </button>
    </form>


</div>