<div class="col-md-4" *ngIf="teams">
    <form (ngSubmit)="onSubmit()" #addMatchForm="ngForm"
          id="AddMatch">
        <div class="form-group">
            <label for="i_select_teamname1">Add Match</label>
            <br>
            <select class="form-control" id="i_select_teamname1">
                <option *ngFor="let team of teams"
                        required
                        [(ngModel)]="model.TeamName1" name="i_select_teamname1">
                    {{team.Name}}
                </option>
            </select>
            <input type="text" class="form-control" id="i_goals_t1" placeholder="Goals"
                   required
                   [(ngModel)]="model.ScoreTeam1" name="i_goals_t1" />
            <br />
            <select class="form-control" id="i_select_teamname2">
                <option *ngFor="let team of teams"
                        required
                        [(ngModel)]="model.TeamName2" name="i_select_teamname2">
                    {{team.Name}}
                </option>
            </select>
            <input type="text" class="form-control" id="i_goals_t2" placeholder="Goals"
                   required
                   [(ngModel)]="model.ScoreTeam2" name="i_goals_t2" />
        </div>
        <button (click)="addMatch()"
                type="submit" class="btn btn-primary"
                [disabled]="!addMatchForm.form.valid || submitted">
            Submit
        </button>
    </form>

</div>